html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  .bg {
    width: auto;
    height: 880px;
    margin-left: auto;
    margin-right: auto;

    padding: 36px 160px 35px;
    background-color: #edf2c5;
  }

.container {
    margin: 0 auto;
    width: 940px;
    height: 880px;
    background-color: #edf2c5;
}

.Header {
    display:flex;
    justify-content: space-between;
    width: 940px;
    height: 62px;
    
}

 #icon {
    width: 271px;
    height: 62px;
    font-family: Arial Black;
    margin: 0 0;
    padding: 9px 0 3px 0;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;


    color: #778a50;
}

#interact-bar {
    width: 200px;
    display:flex;
    justify-content: space-between;

}
.img-button {
    margin: 24px 0 12px 0;
    width: 25px;
    height: 25px;
}

#divide-bar {
    width: 1px;
    height: 25px;
    margin: 24px 0 12px 0;
    background-color: #778a50;
}

.btn {
    height: 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    border: 1px solid #778A50;
    border-radius: 3px;
    font-family: Arial;
    color: #778A50;
    padding: 5px 8px;
    text-decoration:none;
    margin: 24px 0 12px 0;
}

.nav ul {
    display: flex;
    width: 940px;
    height: 44px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 0;
    border-radius: 3px;
    background-color: #778a50;
}

.nav ul li {
    height: 44px;
    background-color: #778a50;
    color: #edf2c5;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    line-height: 44px;
    padding: 0 30px;
    list-style: none;

    transition: 0.2s linear;
}

.nav ul li:hover {
    background-color: #dae297;
    color: #778a50;

    padding-top: 0px;
    padding-bottom: 9px;
    line-height: 35px;
}

.box-row {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 45px;
    margin-bottom: 15px;
}

.content-box {
    width: 445px;
    border-radius: 3px;
    background-color: #778a50;
    color: #edf2c5;
    font-family: Arial Black;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    line-height: 45px;
    padding-left: 30px;
}


.content-row {
    display:flex;
    justify-content: space-between;
    width: 940px;
}

.pic-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 444px;
    height: 140px;
}
.text-section {
    display:flex;
    flex-direction: column;
    width: 444px;
    height: 140px;
    background-color: #f7fbda;
    border: 16px 15px;
    border-radius: 3px;
}

.text-box-1 {
    font-family: arial;
    font-size: 12px;
    line-height: 14px;
    width: 414px;
    height: 41px;
    color: #7D7D7D;
    margin: 15px 15px;
}

.text-bar {
    width: 414px;
    height: 1px;
    margin: 0 auto;
    background-color: #7d7d7d;

}

.text-box-2 {
    font-family: arial;
    font-size: 12px;
    line-height: 12px;
    width: 197px;
    height: 35px;
    color: #7D7D7D;
    margin: 15px 15px;
}

footer {
    width: auto;
    height: 60px;
    margin: 0 auto;
    padding: 0px 479px 0 480px;
    background-color: #778a50;
  }

footer p {
    text-align: center;
    color: #edf2c5;
    font-size: 12px;
    line-height: 60px;
    margin: auto auto;
    font-family: Arial;

}